# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store

# Test coverage and profiling
.coverage
.cache/
.pytest_cache/
*.prof

# Package build artifacts
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
Thumbs.db
desktop.ini

# IDE settings
.vscode/
.idea/

# User-specific settings
*.env
